services:
  hybridly:
    build:
      args:
        COMPOSER_VERSION: ${COMPOSER_VERSION}
        GID: ${GID}
        GROUP_NAME: ${GROUP_NAME}
        NODE_VERSION: ${NODE_VERSION}
        PHP_VERSION: ${PHP_VERSION}
        PNPM_VERSION: ${PNPM_VERSION}
        UID: ${UID}
        USER_NAME: ${USER_NAME}
        XDEBUG_VERSION: ${XDEBUG_VERSION}
      context: ${DOCKER_DIRECTORY}
      dockerfile: ${DOCKER_DIRECTORY}/hybridly/Dockerfile
      target: dev
    container_name: ${COMPOSE_PROJECT_NAME}-hybridly
    environment:
      COREPACK_ENABLE_DOWNLOAD_PROMPT: ${COREPACK_ENABLE_DOWNLOAD_PROMPT:-0}
      PHP_IDE_CONFIG: serverName=${COMPOSE_PROJECT_NAME}
    extra_hosts:
      - host.docker.internal:host-gateway
    healthcheck:
      retries: 3
      start_period: 15s
      test: ["CMD", "curl", "-f", "http://localhost:8000/up"]
      timeout: 5s
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app-${COMPOSE_PROJECT_NAME}.entrypoints=https"
      - "traefik.http.routers.app-${COMPOSE_PROJECT_NAME}.rule=Host(`app.${COMPOSE_PROJECT_NAME}.${DNS_DOMAIN}`)"
      - "traefik.http.routers.app-${COMPOSE_PROJECT_NAME}.tls=true"
      - "traefik.http.services.app-${COMPOSE_PROJECT_NAME}.loadbalancer.server.port=8000"
    networks:
      - laravel
    ports:
      - '${VITE_PORT}:${VITE_PORT}'
    volumes:
      - ${PROJECT_DIRECTORY}:/var/www/html
      - ${DOCKER_DIRECTORY}/traefik/certs:/certs:ro
